<div class="beer_container">
    <h1><%= @drink.name %></h1>


    <p><%= @drink.votes_for.size %>
    <%= (@drink.votes_for.size) == 1 ? 'Like' : 'Likes' %></p>
    <%= button_to 'Like', like_drink_path(@drink), method: :put %>

    <h2>Recipe</h2>

    <p><%= @drink.recipe %><p>
    <%= link_to "Back to Beers", drinks_path%>

</div>


