<h1>My Profile</h1>

<p><%= @user.name %></p>
<p><%= @user.age %></p>


<h2>My Drinks</h2>
<p><%= link_to @user.my_drinks, drink_path(@user.drinks.each {|d| d.id}) %></p>


<h2>My Shopping Cart</h2>
<p><%= link_to @user.my_cart, product_path(@user.products.each {|p| p.id}) %></p>

<%= link_to "Users List", users_path%>