<!DOCTYPE html>
<html>
  <head>
    <title>Beer Craft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <ul>
    <div class="nav_text">
      <li><%= link_to "User's", users_path%></li>
      <li><%= link_to "Beers", drinks_path%></li>
      <li><%= link_to "Ingredients", products_path%></li>
    </div>
    </ul>
    
    <%= yield %>
  </body>
</html>
